body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #f9f8fa;
    font-size: 24px;
}

ul,
a {
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
}

ul {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #1f2937;
    padding: 24px 48px;
    margin: 0px 24px;
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 150px;
}

.hero-container {
    background-color: #1f2937;
    padding: 24px 48px;
    margin: 0px 24px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.hero-container button,
.signup button {
    border-radius: 5px;
    border-style: none;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 24px;
}

.hero {
    width: 500px;
}
.hero p {
    margin-top: 0px;
}

.hero h1{
    font-size: 48px;
    margin-bottom: 0px;
}

.hero-image {
    width: 500px;
    height: auto;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.info-container {
    background-color: #ffffff;
    padding: 24px 48px;
    margin: 0px 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info-container h1 {
    color: #1f2937;
    font-weight: bolder;
}

.info-cards {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
}

.card {
    padding: 20px;
    color: #1f2937;
}

.card img{
    border-color: #3882f6;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    padding: 10px;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 24px 48px;
    margin: 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    width: 800px;
    padding: 0px 36px;
}

figcaption {
    font-size: 18px;
    font-weight: 800;
    text-align: end;
}

.action-call {
    background-color: #ffffff;
    padding: 48px;
    margin: 0px 24px;
    display: flex;
    justify-content: center;
}

.signup {
    border-radius: 5px;
    border-style: none;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 48px;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.signup button {
    border-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
    align-self: center;
}

.signup p, .signup h2 {
    margin: 0px;
    padding: 0px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 48px;
    margin: 0px 24px;
    text-align: center;
}