body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #f9f8fa;
    font-size: 24px;
}

ul,
a {
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
}

ul {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #1f2937;
    padding: 24px 48px;
    margin: 0px 24px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.hero-container {
    background-color: #1f2937;
    padding: 24px 48px;
    margin: 0px 24px;
    color: #e5e7eb;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.hero-container button {
    border-radius: 5px;
    border-style: none;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 24px;
}

.hero {
    width: 500px;
}
.hero p {
    margin-top: 0px;
}

.hero h1{
    font-size: 48px;
    margin-bottom: 0px;
}

.hero-image {
    background-color: #5d708b;
    width: 500px;
    height: auto;
    flex-shrink: 0;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.info-container {
    background-color: #e5e7eb;
    padding: 24px 48px;
    margin: 0px 24px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info-container h1 {
    color: #1f2937;
}

.info-cards {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
}

.card {
    padding: 20px;
}

.card img{
    border-color: #3882f6;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}
.text {
    color: #1f2937;
}